.jerseyDigs {
  background: no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-bottom: 5px;
  /* z-index: -1; */
}

.articlesRow {
  height: 235px;
  overflow: auto;
  margin: 75px auto;
}

.btn {
  color: white;
  z-index: 1;
}

#scrapedHeading {
  text-align: center;
  color: black;
  margin: 25px auto;
}
