body {
  color: black;
}
#reviewsContainer {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
}

.rounded-circle {
  height: 100px;
  width: 100px;
}

#reviewsHeader {
  color: black;
  text-align: center;
}
.author-img {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalSlider___281Ls {
  height: 200px;
}
