/* .landing-jumbo {
  background-image: url("../../img/hero_2.jpg");
  background-size: "cover";
  background-position: "center center";
  position: "relative";
  height: 700px;
  margin-bottom: 0rem;
} */

.landing-jumbo {
  background-image: url("../../img/hero_2.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -2;
  padding: 6rem 4rem;
  height: 550px;
}
